.container-footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.container-logo {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.container-logo h1 {
  color: white;
}

.container-menu-footer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.menu-footer {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.item {
  margin-left: 3em;
}
